<appSettings>
  <!-- SendGrid-->
  <add key="mailAccount" value="My mail account." />
  <add key="mailPassword" value="My mail password." />
  <!-- Twilio-->
  <add key="TwilioSid" value="My Twilio SID." />
  <add key="TwilioToken" value="My Twilio Token." />
  <add key="TwilioFromPhone" value="+12065551234" />

  <add key="GoogClientID" value="877288051312-51m2kbunflpjk4f80g6bkm66a72viicm.apps.googleusercontent.com" />
  <add key="GoogClientSecret" value="v9xaOV71J6LPtoTVGpqD9ryT" />
</appSettings>